:root {
  --margin-size: min(100px, 7.5vw);
}

.mobile{
  display: none;
}

@media only screen and (max-width: 730px) {
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }
}


body {
	font-family: "Computer Modern Serif", serif;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0; 
    margin-bottom: 0;
  	background-color: #001838;
  	color: white;
  	font-size: 18px;
}

h1 {
  margin-left: var(--margin-size);
  margin-right: var(--margin-size);
  margin-top: 1%; 
  margin-bottom: 1%;  
}

p {
  margin-left: var(--margin-size);
  margin-right: var(--margin-size);
  margin-top: 1%; 
  margin-bottom: 1%;   
}

.center {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

code {
  font-size: 15px;
}

.katex {
	font-size: 1em !important;
}

.MathJax {
  font-size: 1em !important;
}

a:link {
  color: green;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: green;
}

#physlink {
  color: black;
}

#physlink:hover {
  color: #505050;
}

 /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin-left: var(--margin-size);
  margin-right: var(--margin-size);
  margin-top: 1%; 
  margin-bottom: 0%;  
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;

}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  margin-left: var(--margin-size);
  margin-right: var(--margin-size);
  margin-top: 0%; 
  margin-bottom: 1%;  
} 

/* Use this for in-line definitions. */
.dfn {
  color: #b0cbf7;
  text-decoration-line: underline;
/*  font-weight: bold;*/
  display: inline-block;
  text-decoration-style: dashed;
}

.chapter { 
  color: #ffc900;
  text-decoration-line: underline; 
  text-decoration-style: dashed;
  font-weight: bold; 
  font-size: 25px; 
  text-align: center;
 }

 .subsection {
  color: #ffc900;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  font-weight: 600;
  font-size: 21px;
 }

 .subsubsection {
  color: #ffc900;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  font-weight: 600;
  font-size: 19px;
 }

.boxed {
  border: border-width border-style border-color;
  border-color: black;
  border-style: solid;
  border-width: 3.5px;
  border-radius: 10px ;
  -moz-border-radius: 10px ;
  -webkit-border-radius: 10px ;
/*  background-color: #b0cbf7;*/
  background-color: #ededed;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  text-decoration-color: black;
/*  margin-right: 80%;
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 80%;*/
  height: 300px;
  width: 200px;
} 


button {
  font-family:
  "Computer Modern Serif";
  font-size: 16px;
  font-weight: bold;
}

 /* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 400%;
  margin: 0 auto; 
} 

.centered2 {
  position: absolute;
  top: 73%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 200%;
  margin: 0 auto; 
} 

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

}


